
<div class="header">
  <div class="pure-menu custom-menu custom-menu-top " id="navbar">
    <img id="logo-main" src="/img/logo.png" width="250" alt="Star Wars main logo">
</div>
    <div class="pure-menu pure-menu-horizontal ">
      <a class="pure-menu-heading pure-menu-link" href="/">Home</a>
      <ul class="pure-menu-list">
        <li class="pure-menu-item pure-menu-selected">
          <a href="/characters" class="pure-menu-link">Characters</a>
        </li>
        <li class="pure-menu-item pure-menu-selected">
        <a href="/starships" class="pure-menu-link">Starships</a>
      </li>
      <li class="pure-menu-item pure-menu-selected">
        <a href="/vehicles" class="pure-menu-link">Vehicles</a>
      </li>
      <li class="pure-menu-item pure-menu-selected">
        <a href="/planets" class="pure-menu-link">Planets</a>
      </li>
      <li class="pure-menu-item pure-menu-selected">
        <a href="/species" class="pure-menu-link">Species</a>
      </li>
      </ul>
    </div>
  </div>